@charset "UTF-8";
/***************************************************
* Palette - default colours/shades/tints
***************************************************/
/**
* Primary colour shades
*/
/**
* Black/grey shades
*/
/**
* White
*/
/***************************************************
* App colour settings
***************************************************/
/**
* Base
*/
/**
* Typography
*/
/**
* Components
*/
/**
* Default font family, available weights etc.
*/
/**
* Body text
*/
/**
* Headings
*/
/***************************************************
* Enhancements
***************************************************/
/**
* Border Radius
*/
/**
* Transitions
*/
/**
* Box shadows
*/
/**
*  ================
*   BREAKPOINTS
*  ================
*
*  Declarative mixins to keep breakpoints consistent and easy to use.
*
*  ### USAGE: ###
*  .component {
*    display: inline-block;
*
*    @include phone-only {
*      display: none;
*    }
*  }
*
*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
*  ================
*   CONTAINERS
*  ================
*
*  Responsive containers used to create horizontally centered, consistently
*  sized max-width wrapper elements.
*
*  ### ARGUMENTS ###
*  $max-width: maximum width container can grow to on larger screens
*  $gutter: amount of padding left and right of container on smaller screeens
*
*  ### USAGE: ###
*  .page-content {
*    @include container();
*  }
*
*  .modal {
*    @include container(600px, 20px);
*  }
*
*/
/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/**
*  ================
*   RESET
*  ================
*
*  Additional resets not covered by normalize.css
*/
body,
h1, h2, h3, h4, h5, h6,
blockquote, pre,
dl, dd,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

ul, ol {
  padding-left: 20px;
}

body, html {
  height: 100%;
}

body {
  background-color: #F1F3F6;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #585858;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #0098CD;
  text-decoration-skip: ink;
}

p {
  margin: 10px 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 30px 0 10px 0;
}

h1 {
  font-size: 3.4rem;
}
@media (max-width: 599px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 3rem;
}
@media (max-width: 599px) {
  h2 {
    font-size: 2.6rem;
  }
}

h3 {
  font-size: 2.6rem;
}
@media (max-width: 599px) {
  h3 {
    font-size: 2.2rem;
  }
}

h4 {
  font-size: 2.2rem;
}
@media (max-width: 599px) {
  h4 {
    font-size: 1.8rem;
  }
}

h5 {
  font-size: 1.8rem;
}
@media (max-width: 599px) {
  h5 {
    font-size: 1.6rem;
  }
}

h6 {
  font-size: 1.6rem;
}
@media (max-width: 599px) {
  h6 {
    font-size: 1.4rem;
  }
}

.l-content-container, .c-footer__container {
  box-sizing: content-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.l-main-content-wrapper {
  background: #fff;
  padding: 20px 0 50px 0;
}

.l-main-content-area {
  display: flex;
}
@media (max-width: 899px) {
  .l-main-content-area {
    display: block;
  }
}

.l-page-content-area {
  font-size: 1.6rem;
}

.l-sidebar-area {
  width: 275px;
  margin-right: 50px;
  background: #E2ECEF;
  border-radius: 3px;
  flex-shrink: 0;
}
@media (max-width: 899px) {
  .l-sidebar-area {
    width: 100%;
    float: none;
  }
}

/* FLOATS */
.floats .l-main-content-area {
  display: block;
}
.floats .l-page-content-area {
  float: left;
  width: calc(100% - 325px);
}
@media (max-width: 899px) {
  .floats .l-page-content-area {
    width: 100%;
  }
}
.floats .l-sidebar-area {
  float: left;
}

/**# Simple Grid
A lightweight, responsive CSS grid  

Developed by Zach Cole

## Simple Grid and Simple Code

Simple Grid is a mobile-first 12-column CSS grid system to make developing
responsive websites easy and fast.

All the code you need is simple and familiar. A parent container class
contains the grid. Within the container are rows. Row classes denote rows of
content, which can be filled with up to 12 columns. Columns must be nested
within a row.

To define your column width, declare how many columns you want your content to
take up on desktop and large screens. For example, if your content should take
up 6 out of 12 columns (or half the container), your class name will be
.col-6.

If you don’t want columns to expand on mobile devices and small screens,
simply add -sm to the end of your column class name. For example, if you want
to have two blocks of content floating side-by-side on small screens, each
would be given the class name .col-6-sm.

**/
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.hidden-sm {
  display: none;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 33.75em) {
  .container {
    width: 80%;
  }
}
@media only screen and (min-width: 60em) {
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

.row {
  position: relative;
  width: 100%;
}

.row [class^=col] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.3333333333%;
}

.col-2-sm {
  width: 12.6666666667%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.3333333333%;
}

.col-5-sm {
  width: 37.6666666667%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.3333333333%;
}

.col-8-sm {
  width: 62.6666666667%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.3333333333%;
}

.col-11-sm {
  width: 87.6666666667%;
}

.col-12-sm {
  width: 96%;
}

@media only screen and (min-width: 45em) {
  .col-1 {
    width: 4.3333333333%;
  }

  .col-2 {
    width: 12.6666666667%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.3333333333%;
  }

  .col-5 {
    width: 37.6666666667%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.3333333333%;
  }

  .col-8 {
    width: 62.6666666667%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.3333333333%;
  }

  .col-11 {
    width: 87.6666666667%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}
.c-nav {
  background-color: #0098CD;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.c-nav__content {
  box-sizing: content-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  height: 61px;
}
@media (max-width: 899px) {
  .c-nav__content {
    display: block;
    height: initial;
    position: relative;
    padding: 10px 20px;
  }
}
.c-nav__logo {
  font-size: 2.4rem;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  flex-shrink: 0;
}
.c-nav-label {
  display: none;
}
.c-nav-label--show {
  display: inline-block;
}
.c-nav__switch {
  font-size: 1.6rem;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
  font-weight: normal;
  margin-left: 10px;
}
.c-nav__items {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin: 0;
  align-items: center;
}
@media (max-width: 899px) {
  .c-nav__items {
    display: none;
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }
}
.c-nav__item {
  list-style: none;
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 40px;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 899px) {
  .c-nav__item {
    margin: 10px 0;
  }
}
.c-nav__item:hover {
  text-decoration: underline;
}
.c-nav__item--button {
  transition: all 0.15s ease;
  color: #fff;
  background: #0098CD;
  border: 2px solid #fff;
  padding: 8px 15px;
  border-radius: 5px;
}
@media (max-width: 899px) {
  .c-nav__item--button {
    display: inline-block;
  }
}
.c-nav__item--button:hover {
  box-shadow: 2px 2px 2px #00000021;
  text-decoration: none;
  background: #fff;
  color: #0098CD;
}

.c-nav-mobile {
  display: none;
}
@media (max-width: 899px) {
  .c-nav-mobile {
    display: block;
    position: absolute;
    top: 13px;
    right: 20px;
  }
}

/* FLOATS */
.floats .c-nav__content {
  display: block;
}
.floats .c-nav__logo {
  float: left;
  padding-top: 19px;
}
@media (max-width: 899px) {
  .floats .c-nav__logo {
    padding-top: 0;
  }
}
.floats .c-nav__items {
  display: block;
  float: right;
  padding-top: 10px;
}
@media (max-width: 899px) {
  .floats .c-nav__items {
    display: none;
  }
}
.floats .c-nav__item {
  display: inline-block;
}

.c-footer {
  background: #F1F3F6;
  border-top: 1px solid #D8D8D8;
}
.c-footer__column {
  flex-grow: 1;
  margin: 40px 50px 40px 0;
}
.c-footer__menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.c-footer__menu-item {
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.c-footer__menu-item--title {
  font-weight: bold;
}

.c-footer__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 899px) {
  .c-footer__container {
    display: block;
  }
}

.c-social-icon {
  margin-right: 20px;
  cursor: pointer;
}

.c-field-container {
  max-width: 500px;
  margin: 30px 0;
}

.c-form-field {
  margin: 20px 0;
}
.c-form-field--short {
  max-width: 200px;
}

/* TEXT FIELDS */
.c-field-label {
  display: block;
  margin: 0 0 5px 0;
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 700;
}

.c-text-input {
  display: block;
  width: 100%;
  height: 38px;
  padding: 0 10px;
  border: 1px solid #E2ECEF;
  border-radius: 3px;
  background-color: #fff;
  transition: border-color 300ms ease;
  font-size: 1.6rem;
  line-height: 1;
}
.c-text-input:not([disabled]):hover, .c-text-input:not([disabled]):focus {
  border-color: #0098CD;
}

.c-text-input--disabled {
  background-color: #F1F3F6;
  border-color: #D8D8D8;
  color: #9b9b9b;
}

/* TEXT AREAS */
.c-textarea {
  display: block;
  width: 100%;
  height: 38px;
  padding: 0 10px;
  border: 1px solid #E2ECEF;
  border-radius: 3px;
  background-color: #fff;
  transition: border-color 300ms ease;
  font-size: 1.6rem;
  line-height: 1;
  padding: 10px;
  height: auto;
  height: 200px;
}
.c-textarea:not([disabled]):hover, .c-textarea:not([disabled]):focus {
  border-color: #0098CD;
}

.c-textarea--disabled {
  background-color: #F1F3F6;
  border-color: #D8D8D8;
  color: #9b9b9b;
}

/* SELECT FIELDS */
.c-select-input {
  display: block;
  width: 100%;
  height: 38px;
  padding: 0 10px;
  border: 1px solid #E2ECEF;
  border-radius: 3px;
  background-color: #fff;
  transition: border-color 300ms ease;
  font-size: 1.6rem;
  line-height: 1;
}
.c-select-input:not([disabled]):hover, .c-select-input:not([disabled]):focus {
  border-color: #0098CD;
}

.c-select-input--disabled {
  background-color: #F1F3F6;
  border-color: #D8D8D8;
  color: #9b9b9b;
}

/* CHECKABLE FIELDS */
.c-checkable-field {
  display: flex;
  align-content: flex-start;
  margin: 10px 0;
}

.c-checkable-field__input {
  margin-right: 10px;
}

.c-checkable-field__label {
  flex-grow: 1;
  font-size: 1.6rem;
  line-height: 1;
}

.c-checkable-field__label--disabled {
  color: #9b9b9b;
}

/* BUTTONS */
.c-primary-action {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  background-color: #0098CD;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 250ms ease;
  box-shadow: 2px 2px 2px #00000021;
}
.c-primary-action:hover {
  background-color: #4db7dc;
}
.c-primary-action .c-icon {
  margin-right: 5px;
}

.c-secondary-action {
  display: inline-block;
  vertical-align: middle;
  border: none;
  background-color: none;
  color: #0098CD;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
  transition: color 250ms ease;
}
.c-secondary-action:hover {
  color: #4db7dc;
}

.c-sub-header {
  background: #F1F3F6;
  border-bottom: 1px solid #D8D8D8;
}
.c-sub-header__breadcrumb {
  margin: 0;
  padding: 15px 0;
  list-style: none;
  display: flex;
}
.c-sub-header__breadcrumb-item {
  margin-right: 10px;
}
.c-sub-header__breadcrumb-item:before {
  content: "/";
  margin-right: 10px;
  position: relative;
}
.c-sub-header__breadcrumb-item:first-child:before {
  display: none;
}
.c-sub-header__title {
  margin: 0 0 20px 0;
}

/* FLOATS */
.floats .c-sub-header__breadcrumb {
  display: inline-block;
}
.floats .c-sub-header__breadcrumb-item {
  display: inline-block;
}

.c-sidebar-nav {
  list-style: none;
  padding-left: 0;
  margin: 15px;
}
@media (max-width: 899px) {
  .c-sidebar-nav {
    margin: 0;
    padding: 10px;
  }
}

.c-sidebar-nav__item {
  transition: all 0.15s ease;
  background: #fff;
  font-size: 1.6rem;
  padding: 10px 15px;
  margin-bottom: 5px;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
}
.c-sidebar-nav__item:hover {
  box-shadow: 2px 2px 2px #00000021;
  width: calc(100% + 5px);
}
.c-sidebar-nav__item--active {
  box-shadow: 2px 2px 2px #00000021;
  width: calc(100% + 20px);
  background: #0098CD;
  color: #fff;
  font-size: 2rem;
  padding: 15px 15px;
  cursor: default;
}
.c-sidebar-nav__item--active:hover {
  width: calc(100% + 20px);
}
@media (max-width: 899px) {
  .c-sidebar-nav__item {
    padding: 0 5px;
    text-decoration: underline;
    background: none;
  }
  .c-sidebar-nav__item:hover {
    width: 100%;
    box-shadow: none;
  }
  .c-sidebar-nav__item--active {
    box-shadow: none;
    background: #0098CD;
    font-size: 1.6rem;
    width: 100%;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
  }
  .c-sidebar-nav__item--active:hover {
    width: 100%;
    box-shadow: none;
  }
}

/**
*  ================
*   BOX-SIZING
*  ================
*
*  Set the global `box-sizing` state to `border-box`.
*
*  css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
*  paulirish.com/2012/box-sizing-border-box-ftw
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
