.c-footer {
  background: $neutral--100;
  border-top:1px solid $neutral--200;

  &__column{
     margin: 40px $column--alley 40px 0;
     display: inline-block;
     vertical-align: top;
     width: 20%;

     @include tablet-landscape-down {
      width: 100%;
      margin:20px 0;
    }
  }

  &__container {
    @extend .l-content-container;
    @include tablet-landscape-down {
      display: block;
    }
  }

  &__menu{
    list-style: none;
    padding: 0;
    margin: 0;
  }

    &__menu-item{
      cursor: pointer;
      text-decoration: underline;
      font-size: 1.6rem;
      margin-bottom: 10px;

      &--title{
        font-weight: bold;
      }
    }
}

.c-social-icon{
  margin-right: 20px;
  cursor: pointer;
}

/* FLEXBOX */

.flex .c-footer{

  &__container {
    display: flex;
    justify-content: space-between;

    @include tablet-landscape-down {
      flex-direction: column;
    }
  }

  &__column{
    flex-grow: 1;
  }
}
