.c-field-container {
  max-width: 500px;
  margin: 30px 0;
}

.c-form-field{
  margin: 20px 0;

  &--short{
    max-width: 200px;
  }
}


/* TEXT FIELDS */

.c-field-label {
  display: block;
  margin: 0 0 5px 0;
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: $weight--bold;
}

.c-text-input {
  @include form-input;
}

.c-text-input--disabled {
  @include disabled-form-input;
}

/* TEXT AREAS */

.c-textarea {
  @include form-input;
  padding: 10px;
  height: auto;
  height: 200px
}

.c-textarea--disabled {
  @include disabled-form-input;
}

/* SELECT FIELDS */

.c-select-input {
  @include form-input;
}

.c-select-input--disabled {
  @include disabled-form-input;
}


/* CHECKABLE FIELDS */

.c-checkable-field {
  display: flex;
  align-content: flex-start;
  margin: 10px 0;
}

.c-checkable-field__input {
  margin-right: 10px;
}

.c-checkable-field__label {
  flex-grow: 1;
  font-size: 1.6rem;
  line-height: 1;
}

.c-checkable-field__label--disabled {
  color: $checkable-field--disabled-text;
}

/* BUTTONS */

.c-primary-action {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  background-color: $primary-action--bg;
  color: $primary-action--text;
  font-size: 1.4rem;
  font-weight: $weight--bold;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 250ms ease;
  @include box-shadow--small;

  &:hover {
    background-color: $primary-action--hover-bg;
  }

  .c-icon {
    margin-right: 5px;
  }
}

.c-secondary-action {
  display: inline-block;
  vertical-align: middle;
  border: none;
  background-color: none;
  color: $secondary-action--text;
  font-size: 1.6rem;
  font-weight: $weight--bold;
  text-decoration: underline;
  cursor: pointer;
  transition: color 250ms ease;

  &:hover {
    color: $secondary-action--hover-text;
  }
}

