.c-sub-header {
  background: $neutral--100;
  border-bottom:1px solid $neutral--200;

  &__breadcrumb {
    display: inline-block;
    margin: 0;
    padding: 15px 0;
    list-style: none;
  }

  &__breadcrumb-item{
    margin-right: 10px;
    display: inline-block;

    &:before{
      content:'/'; 
      margin-right: 10px;
      position: relative;
    }

    &:first-child:before{
      display:none; 
    }
  }
  &__title{
    margin: 0 0 20px 0;
  }
}


/* FLEXBOX */

.flex .c-sub-header{
  
  &__breadcrumb{
    display: flex;
  }
}